@model Grv.Web.Models.CompanyModels.CreateAdminViewModel

@{
    ViewBag.Title = "Create Admin";
    Layout = "~/Views/Layout.cshtml";
}

<div class="jumbotron">
    <h2>
        <button type="button" class="btn btn-default btn-lg" onclick="history.go(-1);return true;">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>Create admin
    </h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.CompanyId)

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PasswordConfirmation, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.PasswordConfirmation, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.PasswordConfirmation)
    </div>

    <div class="form-group">
        <table class="form-control-dropdown">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Status, new { @class = "control-label" })
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Status, Model.StatusList, new { @class = "form-control multiselect", required = "required", })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ValidationMessageFor(model => model.Status)
                </td>
            </tr>
        </table>
    </div>

    <p>
        <input type="submit" class="btn btn-primary" value="Create" />
    </p>
}

<script type="text/javascript">
    $(function () {
        $('.multiselect').multiselect();
    });
</script>