@model Grv.Web.Models.CompanyModels.UpdateCompanyViewModel

@{
    ViewBag.Title = "Update Company";
    Layout = "~/Views/Layout.cshtml";
}

<div class="jumbotron">
    <h2>
        <button type="button" class="btn btn-default btn-lg" onclick="history.go(-1);return true;">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>Update Company
    </h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TimeZoneId, new { @class = "control-label" })

        @Html.DropDownListFor(m => m.TimeZoneId, Model.TimezoneList,
                    new
                    {
                        @Id = "multiselect-item",
                    })

        @Html.ValidationMessageFor(model => model.TimeZoneId)
    </div>

    <p>
        <input type="submit" class="btn btn-primary" value="Update" />
    </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#multiselect-item').multiselect();
    });
</script>