@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("Time saver", "Index", "Home", new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        @Html.ActionLink("Accounts", "Index", "Users")
                    </li>
                    <li>
                        @Html.ActionLink("Company", "Index", "Company")
                    </li>
                    <li>
                        @Html.ActionLink("Projects", "Index", "Projects")
                    </li>
                    <li>
                        @Html.ActionLink("Tasks", "Index", "Tasks")
                    </li>
                }
                @if (User.IsInRole("User"))
                {
                    <li>
                        @Html.ActionLink("Tasks", "Index", "Tasks")
                    </li>
                }
                @if (User.IsInRole("Superadmin"))
                {
                    <li>
                        @Html.ActionLink("Companies", "Index", "Companies")
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Profile", "Index", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Logout", "Logout", "Account")
                    </li>
                }
            </ul>
        </div>
    </div>
</div>