<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/bootstrap-theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/bootstrap-multiselect.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/prettify.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/bootstrap-datetimepicker.css")" type="text/css">

        <link rel="stylesheet" href="@Url.Content("~/Resources/css/Site.css")" />
        <script type="text/javascript" src="@Url.Content("~/Resources/js/jquery-2.1.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Resources/js/moment-with-langs.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Resources/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Resources/js/bootstrap-multiselect.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Resources/js/prettify.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Resources/js/bootstrap-datetimepicker.min.js")"></script>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>

    </html>
